.card {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  

  width: 300px;
  aspect-ratio: 1 / 1.5;

  .cover {
    flex: 5;
    position: relative;
    user-select: none;
    cursor: pointer;

    img {
      height: 100%;
      object-fit: cover;
      filter: brightness(40%);
    }

    p {
      color: #fff;
      text-transform: uppercase;
      position: absolute;
      bottom: 1rem;
      left: 0;
      font-size: 1.5rem;
      letter-spacing: 3px;
      padding: 0 1rem;

      text-shadow: 1px 1px 2px black
    }
  }

  .footer {
    flex: 1.5;
    width: 100%;
    padding: 0 1rem;


    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
    
        background-color: gold;
        padding: .35rem .75rem;
        border-radius: 4px;

    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .5rem 1rem;
        background-color: #2b2d2f;
        border: none;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
    }
  }
}
